.count {
    font-size: 10rem;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}



.counter-btn-cont {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.counter-btn {
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    background-color: var(--color2);
    font-size: 3rem;
    font-weight: 900;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.increment {
    color: aqua;
    order: 1;
}

.decrement {
    color: tomato;
}

.reset {
    width: calc(10rem + 50px);
    border-radius: 2.5rem;
    color: var(--color1)
}