.country-profile {
    width: 100%;
    border-radius: 50px;
    background-color: var(--color3);
}



.profile-head-cont {
    position: relative;
}

.profile-banner {
    width: 100%;
    height: 15rem;
}

.profile-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    left: 5rem;
    bottom: -5rem;
    border: solid 1rem var(--color2);
    background-color: var(--color1);
    display: grid;
    place-items: center;
}

.profile-img  h3{
    font-size: 5rem;
    font-family: 'Bebas Neue';
    margin: 0;
}

.country-info {
    margin-top: 7rem;
    padding:0 50px 50px;
}

.small-caps {
    font-size: 0.7em;
    letter-spacing: 0.2em;
}