.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
}

.card-holder a {
  text-decoration: none;
}

/* Project Card Component */
.card {
  background-color: var(--color3);
  border-radius: 20px;
  cursor: pointer;
}

.card-thumbnail {
}

.card-thumbnail h2 {
  font-size: 9rem;
  margin: 0;
  text-align: right; 
  background-color: var(--color3);
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: var(--color2);
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 300ms;
}

.project-desc {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  transition: border-radius 300ms;
}

.project-name {
  color: var(--color2);
  text-decoration: none;
}

.link-icon {
  height: 15px;
  opacity: 0.3;
  transition: opacity 300ms;
}

.link-icon svg {
  height: 100%;
}

.card:hover .link-icon {
  opacity: 1;
}

.card:hover .card-thumbnail h2 {
  opacity: 1;
}

.card:hover .project-desc {
  border-radius: 10px;
}