* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: green; */
}

@font-face {
  font-family: 'Aileron';
  src: url('aileron-kit/Aileron-Regular-webfont.woff') format('woff'),
    url('./aileron-kit/Aileron-Regular-webfont.ttf') format('truetype'),
    url('./aileron-kit/Aileron-Regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./bebas-neue-kit/BebasNeue-Regular.woff') format('woff'),
    url('./bebas-neue-kit/BebasNeue-Regular.ttf') format('truetype'),
    url('./bebas-neue-kit/BebasNeue-Regular.eot') format('embedded-opentype');
}

body {
  --color1: #1a1a1a;
  --color2: white;
  --color3: #3b3b3b;
}

body.light-theme {
  --color1: #fefefe;
  --color2: black;
  --color3: #cfcfcf;
}

.clr-schm-btn {
  transition: transform 600ms;
}

.light-theme .clr-schm-btn {
  transform: rotateZ(360deg);
}

.light-theme .moon {
  opacity: 0;
}

.light-theme .sun {
  opacity: 1;
}

.sun {
  opacity: 0;
}

.my-img {
  filter: brightness(150%);
  transition: filter 200ms;
}

.light-theme .my-img {
  filter: brightness(100%);
}

* {
  box-sizing: border-box;
  transition: color 100ms, fill 200ms, background-color 200ms, stroke 200ms;
}

@media screen and (prefers-color-scheme: light) {
  body {
    --color1: #fefefe;
    --color2: black;
    --color3: #cfcfcf;
  }

  body.dark-theme {
    --color1: #1a1a1a;
    --color2: white;
    --color3: #3b3b3b;
  }

  .dark-theme .clr-schm-btn {
    transform: rotateZ(360deg);
  }

  .sun {
    opacity: 1;
  }

  .dark-theme .sun {
    opacity: 0;
  }

  .dark-theme .moon {
    opacity: 1;
  }

  /* .sun,
  .moon {
    transform: translateY(-50%);
  } */

  .moon {
    opacity: 0;
  }
}

/* |Text */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--color2);
  font-family: 'Aileron', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: 84px;
  font-weight: normal;
}

h3 {
  font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  font-size: 35px;
  font-weight: normal;
}

main {
  width: 920px;
  margin: 0 auto;
  padding-top: 70px;
}

path,
rect {
  fill: var(--color2);
  transform: fill 200ms;
}

/* |Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color1);
  z-index: 10;
}

.box-holder {
  width: 1px;
  height: 1px;
}

.header-container {
  width: 960px;
  margin: 0 auto;
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.color-scheme-button {
  height: 20px;
  cursor: pointer;
  /* justify-self: flex-end; */
  order: 3;
}

.color-scheme-button svg {
  height: 100%;
}

.sun,
.moon {
  transition: transform 200ms, opacity 200ms;
}

.header-logo {
  height: 20px;
  cursor: pointer;
  /* align-self: center; */
  /* justify-self: center; */
}

.header-logo svg {
  height: 100%;
}

.header-logo path {
  fill: var(--color2);
}

.nav-button {
  height: 20px;
  cursor: pointer;
}

.nav-button svg {
  height: 100%;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
}

.card-holder a {
  text-decoration: none;
}

/* Project Card Component */
.card {
  background-color: var(--color3);
  border-radius: 20px;
  cursor: pointer;
}

.card-thumbnail {
}

.card-thumbnail h2 {
  font-size: 9rem;
  margin: 0;
  text-align: right;
  background-color: var(--color3);
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: var(--color2);
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 300ms;
}

.project-desc {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  transition: border-radius 300ms;
}

.project-name {
  color: var(--color2);
  text-decoration: none;
}

.link-icon {
  height: 15px;
  opacity: 0.3;
  transition: opacity 300ms;
}

.link-icon svg {
  height: 100%;
}

.card:hover .link-icon {
  opacity: 1;
}

.card:hover .card-thumbnail h2 {
  opacity: 1;
}

.card:hover .project-desc {
  border-radius: 10px;
}